<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <title>Home</title>
</head>

<header>
    <div class="bloco-acess" id="fonte">
        <p>
            <span class="a-minus">A-</span> | <span class="a-plus">A+</span>
        </p>
    </div>
    <div class="bloco-acess" id="alto-contraste">
        <img src="/img/contraste.png" alt="Simbolo de contraste" class="simb-contraste" srcset="" />
        <p>Alto Contraste</p>
    </div>
</header>

<body>
    <section class="header-principal">
        <div class="block-header">
            <div id="menu">
                <div id="menu-bar" onclick="menuOnClick()">
                  <div id="bar1" class="bar"></div>
                  <div id="bar2" class="bar"></div>
                  <div id="bar3" class="bar"></div>
                </div>
                <nav class="nav" id="nav">
                  <ul>
                    <li><a href="/login">Meu Perfil</a></li>
                    <li><a href="/login">Processos</a></li>
                    <li><a href="/login">Vagas</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/">Sair</a></li>
                  </ul>
                </nav>
              </div>

            <div class="menu-bg" id="menu-bg"></div>

        </div>

        <div class="block-header-logo">
            <img src="/img/logo-meujob.svg" alt="Logo Everymind" class="logo" />
        </div>

    </section>

    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

    <h1 class="qntVagas">Candidaturas: (<span id="quantidadeVagas">
            <%= candidaturas.length %>
        </span>)</h1>

    <table style="width:80%; margin: auto;" class="input-field col s6 form">
        <thead>
            <tr>
                <th>Vaga</th>
                <th>Título</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Celular</th>
                <th>Status</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <% candidaturas.forEach(function(candidatura) { %>
                <tr>
                    <td>
                        <%= candidatura.vaga %>
                    </td>
                    <td>
                        <%= candidatura.titulo %>
                    </td>
                    <td>
                        <%= candidatura.nome %>
                    </td>
                    <td>
                        <%= candidatura.email %>
                    </td>
                    <td>
                        <%= candidatura.cel %>
                    </td>
                    <td>
                        <%= candidatura.status %>
                    </td>
                    <td><button><a href="/candidaturas-user/<%= candidatura._id %>">Ver Candidatura</a></button></td>
                </tr>
                <% }); %>
        </tbody>
    </table>

    <script src="../js/script.js"></script>
</body>

<footer>
    <div class="logo-footer">
        <img src="../img/logo-meujob.svg" alt="Logo EY" class="logo">
    </div>
    <div class="social-media">

        <img src="../img/5279111_network_fb_social media_facebook_facebook logo_icon 1.svg" alt="Logo facebook">


        <img src="../img/2559760_media_social_video_youtube_icon 1.svg" alt="Logo Youtube">

        <img src="../img/8666638_instagram_icon 1.svg" alt="Logo Instagram">

    </div>
</footer>

</html>